h2 {
    margin: 0;
}


.place {
    margin-left: 3%;
    width: 20%;
    height: 5vh;
    text-align: center;
}

.rating {
    width: 30%;
    text-align: center;
}


ul {
    list-style-type: none;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.li-container {
    border: 2px darkgray solid;
    border-radius: 25px;
    width: 60%;
    height: 6vh;
    margin-bottom: 0.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 2.75px 2.75px #0081C6;
}

.gold {
    background-color: gold;
}

.silver {
    background-color: silver;
}

.bronze {
    background-color: brown;
}

.li-container li {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}