h2 {
    margin: 0;
}


.place {
    margin-left: 3%;
    width: 20%;
    height: 5vh;
    text-align: center;
}

.rating {
    width: 30%;
    text-align: center;
}


ul {
    list-style-type: none;
    margin-top: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.li-container {
    border: solid 0.75px rgba(0, 129, 198, 1);
    border-radius: 20px;
    width: 60%;
    height: 6vh;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.li-container:hover {
    transform: scale(1.25);
}

.gold {
    background-color: #FFDF00;
}

.silver {
    background-color: #C0C0C0;
}

.bronze {
    background-color: #cd7f32;
}

.li-container li {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle {
    border: 2px black solid;
    width: 60%;
    height: vh;
    display: flex;
}

.highest-sentiment {
    width: 50%;
    text-align: center;
    border-right: 1px black solid;
}

.most-improved {
    width: 50%;
    text-align: center;
    border-left: 1px solid black;
}