.tab-list {  
    padding-left: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;

    width: 100%;
  }
  
  .tab-list-item {
    text-align: center;
    width: 11.11%;
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1rem;
    color: lightgray; 
    border-bottom: 4px solid lightgray;
    /* padding: 0.5rem 0.75rem; */
  }
  
  .tab-list-active {
    border-bottom: 4px solid rgba(0, 129, 198, 1);
    color: rgba(0, 129, 198, 1);
    transition: .5s ease-in-out;
  }

  .under-tabs-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }

  .box {
    width: 40%;
    height: 70vh;
    margin-top: 1%;
    border: solid 0.75px lightgray;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: .3s ease-in;
    display: flex;
    justify-content: center;
  }

  .alertDiv {
    display: flex;
    justify-content: space-around;
    width: 30%;
    height: 120px;
  }
  .contentDiv {
    display: flex;
    flex-direction: column;
  }



  h2 {
    margin: 0;
  }

  @media (max-width:1650px) {
    .tab-list {
      flex-wrap: wrap;
    }
    .tab-list-item {
      width: 20%;
    }
  }


  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;

  }
  
  table tr {
    background-color: white;
    text-align: center;
  }
  
  table tr:hover {background-color: #ddd; color: black;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgba(0, 129, 198, 1);
    color: white;
  }

  /* @media (min-width:1000px) {
    .tab-list {
      flex-wrap: wrap;
    }
  } */

  .tddata {
    font-size: x-large;
    text-align: center;
    align-items: center;
  }

  .emoji{
    
    font-size: x-large;
    text-align: center;
    align-items: center;
  }

  .tddataredalert {
    background-color: tomato;
    color: white;
    font-size: larger;
  }

  .tddataredalert:hover {
    color: black;
  }

  .tddataorangealert {
    background-color: gold;
    color: black;
    font-size: larger
    
  }

  .trclass {
    font-size: x-large;
    border: 1.5px solid black
  }

  .tableClass {
    border: 1.5px solid black
  }

  .alerts-table-div {
    margin-left: 10px;
    margin-top: 10px;
  }

  .pageNumbers{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: bold;
 
  }

  .pageNumbers li{
    padding: 10px;
    border: 1px solid rgb(65, 63, 63);
    cursor: pointer;
    font-size: 1.2rem;
  }

  .pageNumbers li.active{
    background-color: black;
    color: #ddd;
  }

  .pageNumbers li button {
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .searchCol {
    border: 1px solid lightgrey
  }