/* override for okta login widget */
#root {
  height: 100%;
}
#sign-in-widget {
  display: flex;
  height: 100%;
  align-items: center;
}
#okta-sign-in.auth-container.main-container {
  height: 530px;
  overflow: hidden;
}
.MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.layout {
  width: 100%;
  height: 100%;
}
/* PAGE specific styles */
/* Admin Dashboard */
.adminDashboardContent .ant-layout-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
/* RenderMemberScanner */
.errorText,
.regularText {
  margin: 14px;
}
/* eof PAGE specific styles */
/* COMPONENT specific styles */
/* Select Button */
.dropdownSelected {
  margin: 20px;
  font-size: 2rem;
}
/* eof Select Button */
/* eof COMPONENT specific styles */
.emojiBtn {
  height: 100px;
  width: 100px;
  color: #000000;
  font-size: 4rem;
  opacity: 100%;
}
.emojiBtn:hover {
  height: 115px;
  width: 110px;
  color: #000000;
  font-size: 5rem;
  opacity: 100%;
}
